* {
  margin: 0;
  padding: 0;
  background-color: rgb(243, 248, 242);
  color: rgb(26, 43, 55);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
.main-container {
  margin: 1em;
}

.back-home_container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.back-home_link {
  padding: 0.3em;
  color: rgb(243, 248, 242);
  background-color: rgb(26, 43, 55);
  font-size: 1em;
  border-radius: 5px;
  margin-right: 0.5em;
}

.cart-container {
  margin-bottom: 2em;
  border: 1px solid rgb(26, 43, 55);
  border-radius: 5px;
  padding: 1em;
  width: 40%;
}

.list-item {
  display: flex;
  font-size: 1.1em;
  margin-bottom: 0.3em;
}

.item-key {
  background-color: rgb(104, 39, 45);
  border-radius: 5px;
  padding: 0.3em;
  color: rgb(243, 248, 242);
  margin-right: 0.5em;
}

.item-value {
  padding: 0.3em;
}
