<h2>Introduce tu dirección de correo electronico, te enviaremos un link para que
  puedas recuperar tu contraseña</h2>

<form action='/api/sessions/restore-password-email' , method='post'>
  {{! Email }}
  <label for=''>Email:</label>
  <input type='email' name='email' /><br /><br />
  <button type='submit'>Enviar email</button>
</form>